<a href="https://colab.research.google.com/github/pknujunseong/Bigpy/blob/main/3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
sum=0
while sum < 10:
  print('Hello World')
  sum = sum+1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [4]:
x = int(input('숫자를 입력하시오'))
if x<5:
  for i in range(0,5):
    print('Hello World')

숫자를 입력하시오3
Hello World
Hello World
Hello World
Hello World
Hello World

In [47]:
s=0
while True:
  if s<5:
    print('Hello World')
    s = s+1
  else:
    break

Hello World
Hello World
Hello World
Hello World
Hello World

In [52]:
while True:
  for i in range(1,11,2):
    print(i)
  break

1
3
5
7
9

In [48]:
for i in range(2,3):
  for j in range(0,10):
    print(f'{i} 곱하기 {j}는 {i*j}')

2 곱하기 0는 0
2 곱하기 1는 2
2 곱하기 2는 4
2 곱하기 3는 6
2 곱하기 4는 8
2 곱하기 5는 10
2 곱하기 6는 12
2 곱하기 7는 14
2 곱하기 8는 16
2 곱하기 9는 18

In [7]:
a = ['바나나', '사과', '수박']
for i in a:
  print(i)

바나나
사과
수박

In [15]:
for i in range(-7,-2,1):
  print(i)

-7
-6
-5
-4
-3

In [17]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [19]:
a = 'Hello world'
for i in a:
  print(i)

H
e
l
l
o

w
o
r
l
d

In [24]:
def f():
  z = input('이름을 입력하시오')
  return z

print(f'내 이름은 {f()}입니다.')

이름을 입력하시오김준성
내 이름은 김준성입니다.

In [26]:
a = int(input('숫자 a를 입력하시오'))
b = int(input('숫자 b를 입력하시오'))
print(a+b,a-b,a*b,a/b)

숫자 a를 입력하시오3
숫자 b를 입력하시오2
5 1 6 1.5

In [53]:
s = 0
while True:
  a = int(input('숫자를 입력하시오'))
  s = s+a
  print(s)
  if a < 0:
    break
print(s)

숫자를 입력하시오3
3
숫자를 입력하시오22
25
숫자를 입력하시오3
28
숫자를 입력하시오-1
27
27

In [39]:
m=[]
n=[]
while True:
  a = input('a의 리스트에 추가하시오')
  if a == '끝':
    break
  m.append(a)
  b = input('b의 리스트에 추가하시오')
  if b == '끝':
    break
  n.append(b)
print(len(m) == len(n))
print(m)
print(n)

a의 리스트에 추가하시오3
b의 리스트에 추가하시오23
a의 리스트에 추가하시오3
b의 리스트에 추가하시오끝
False
['3', '3']
['23']

In [55]:
m=[]
n=[]
def f():
  while True:
    a = input('a의 리스트에 추가하시오')
    if a == '끝':
     break
    m.append(a)
    b = input('b의 리스트에 추가하시오')
    if b == '끝':
      break
    n.append(b)
  if len(m) == len(n):
    dict(m)
    dict(n)
    return m,n
f()
print(m)
print(n)

a의 리스트에 추가하시오33
b의 리스트에 추가하시오22
a의 리스트에 추가하시오끝
['33']
['22']

In [56]:
a = 0
def plus():
  global a
  a = a+5
plus()

print(a)

5